
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  } 
  

  #body{
    background: rgba(125, 204, 243);
    background: linear-gradient(90deg, rgba(134, 207, 243, 0.995) 2%, rgba(180,232,202,0.9920343137254902) 84%);
  }
  #efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }