<div class="row">
  <div class="link col-md-4">
    <a href="../aluno/">
      <div
        class="card d-flex align-items-center justify-content-center"
        id="aluno"
      >
        <div class="card-body text-center">
          <h3 class="card-title">Aluno</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="../treino/">
      <div
      class="card d-flex align-items-center justify-content-center"
      id="treino"
    >
      <div class="card-body text-center">
        <h3 class="card-title">Treino</h3>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-4">
    <a href="../exercicio/"><div
      class="card d-flex align-items-center justify-content-center"
      id="exercicio"
    >
      <div class="card-body text-center">
        <h3 class="card-title" >Exercicio</h3>
      </div>
    </div></a>
  </div>
</div>
