<div class="row">
  
    <div class="col-md-4">
    <div
      class="card d-flex align-items-center justify-content-center"
      id="aluno"
    >
      <div class="card-body text-center">
        <h3 class="card-title">Aluno</h3>
      </div>
    </div>    
  </div>
 
  
    <div class="col-md-4">
      <div
        class="card d-flex align-items-center justify-content-center"
        id="treino"
      >
        <div class="card-body text-center">
          <h3 class="card-title">Treino</h3>
        </div>
      </div>    
    </div>
  
  
  
    <div class="col-md-4">
      <div
        class="card d-flex align-items-center justify-content-center"
        id="exercicio"
      >
        <div class="card-body text-center">
          <h3 class="card-title">Exercicio</h3>
        </div>
      </div>    
    </div>
  
</div>
