a{
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
}
#nav{
    background-color: rgba(15, 97, 120, 0.312);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    //height: 3rem;
    width: 63.7rem;
}