
<nav class="navbar navbar-expand-lg shadow-sm" data-bs-theme="dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa fa-heartbeat me-2" aria-hidden="true"></i>MegaGym</a>
    
      <ul class="navbar-nav me-auto" >
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="produtos">Sobre</a>
        </li>
        <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="usuarios">Exercicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="parceiros">Treino</a>
        </li>-->
      </ul>      
    </div>
</nav>
